$color-primary: #173d8d;      
$color-secondary: #ec4899;    
$color-accent: #eab308;       
$bg-main: #0f172a;            
$bg-card: #1e293b;           
$color-border: #334155;       
$text-muted: #94a3b8;        
$text-main: #f8fafc;         
$color-error: #ef4444;
$color-success: #10b981;

$font-title: 'Minecraft', sans-serif;
$font-main: 'Roboto', sans-serif;
$font-mono: 'Geist Mono', monospace;